
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">모델 등록</h5>
    <form method="post" class="post-form my-3">
        
        <!-- CSRF 토큰 오류 탈출 -->
        {{ form.csrf_token }}

        <!-- 오류 표시 start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류 표시 end -->

        <div class="form-group">
            <label for="model_name">모델명</label>
            <input type="text" class="form-control" name="model_name" id="model_name"
                   value="{{ form.model_name.data or '' }}">
        </div>


        <div class="form-group">
            <label for="model_detail">모델 설명</label>
            <textarea class="form-control" name="model_detail" id="model_detail" rows="10">
                {{ form.model_detail.data or '' }}
            </textarea>
        </div>

        <div class="form-group">
            <label for="model_link">모델 첨부(?)</label>
            <br>
            <!-- <div class="form-control" rows="4"> -->
                <input type="file" name="file">
                <input type="submit" value="첨부" name="submit" class="btn btn-primary">
                <br>
            <!-- </div> -->
        </div>
        <br>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>


{% endblock %}